@model Hacettepe.Application.Listing.DatatableResponse<Hacettepe.Application.MenuItems.List.MenuItemDto>
@{
    ViewBag.Title = "Menü Ayarları";
}
<div class="row">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-success" href="@Url.Action("Create")"><i class="bi bi-plus"></i> Yeni Haber/Duyuru</a>
    </div>
    <br/>
    <table id="menuItemsGrid" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
        <tr>
            <th>Adı</th>
            <th>Üst Menü</th>
            <th>Türkçe Metin</th>
            <th>İngilizce Metin</th>
            <th>Türkçe Url</th>
            <th>İngilizce Metin</th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>

@section scripts
{
    <script src="/lib/DataTables/datatables.min.js"></script>
    
    <script type="text/javascript">
    
        $('#menuItemsGrid').dataTable({
            "processing": true,
            "serverSide": true,
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "pageLength": 10,   
            "stateSave": true,     
            "ajax": {
                "url": "/Admin/menuitems/list",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":[
            {
                "targets": [0],
                "searchable": false,
                "orderable": false
            },
            {
                "targets": [1],
                "searchable": false,
                "orderable": false
            },
            {
                "targets": [2],
                "searchable": false,
                "orderable": false
            },{
                "targets": [3],
                "searchable": false,
                "orderable": false
            },
            {
                "targets": [4],
                "searchable": false,
                "orderable": false
            },
            {
                "targets": [5],
                "searchable": false,
                "orderable": false
            },
            {
                "targets": [6],
                "searchable": false,
                "orderable": false
            }],
            "columns": [
                { "data": "name", "title": "Adı", "name": "name", "autoWidth": true },
                { "data": "parentName", "title": "Üst Menü", "name": "parentName", "autoWidth": true },
                { "data": "tr_Text", "title": "Türkçe Metin", "name": "tr_text", "autoWidth": true },
                { "data": "en_Text", "title": "İngilizce Metin", "name": "en_text", "autoWidth": true },
                { "data": "tr_Url", "title": "Türkçe Url", "name": "tr_url", "autoWidth": true },
                { "data": "en_Url", "title": "İngilice Url", "name": "en_url", "autoWidth": true },
                {
                    data:null,
                    "render": function (data, type, full, meta)
                    { return getActionMenu(data); }
                }
            ]
        });
        
    </script>
}
