<style>
   .carousel-container img{
      min-height: 580px;
  }
</style>

<section class="cs_hero">
  <div class="cs_hero_wrap">
    <div class="container">
      <div class="carousel-container">
        <img src="img/photo_1023_1.png" class='img-fluid w-100'/>
        <img src="img/photo_1028_1.png" class='img-fluid w-100'/>
      </div>
    </div>
  </div>
</section>
<div class="cs_height_65"></div>
<div class="container">
        <div class="cs_section_heading cs_style_1 text-center">
          @* <h3 class="cs_section_subtitle text-uppercase cs_accent_color cs_semibold m-0 cs_accent_color cs_fs_32">Hızlı Erişim</h3> *@
          <div class="cs_height_5"></div>
        </div>
        @* <div class="cs_height_72 cs_height_lg_50"></div> *@
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <a href="https://hastanerandevu.hacettepe.edu.tr/nucleus-hastaportal-randevu/public/main?user=PUBLIC" class="cs_iconbox cs_style_2">
              <div class="cs_iconbox_icon">
                <img src="img/contact/icon_1.svg" alt="Icon">            
              </div>
              <h2 class="cs_iconbox_title cs_fs_32 cs_semibold m-0">Randevu Alın</h2>
            </a>
          </div>
          <div class="col-xl-3 col-md-6">
            <a href="https://www.hastane.hacettepe.edu.tr/online-islemler_35.html" class="cs_iconbox cs_style_2">
              <div class="cs_iconbox_icon">
                <img src="img\icons\tick.svg" alt="Icon">  
              </div>
              <h2 class="cs_iconbox_title cs_fs_32 cs_semibold m-0">Online İşlemler</h2>
            </a>
          </div>
          <div class="col-xl-3 col-md-6">
            <a href="https://sonuc.hacettepe.edu.tr:20843/nucleus-hastaportal-sonuc/public/main?user=PUBLIC" class="cs_iconbox cs_style_2">
              <div class="cs_iconbox_icon">
                <img src="img/icons/ambulance.svg" alt="Icon">                               
              </div>
              <h2 class="cs_iconbox_title cs_fs_32 cs_semibold m-0">Test Sonuçları</h2>
            </a>
          </div>
          <div class="col-xl-3 col-md-6">
            <a href="#" class="cs_iconbox cs_style_2">
              <div class="cs_iconbox_icon">
                <img src="img/contact/icon_3.svg" alt="Icon">  
              </div>
              <h2 class="cs_iconbox_title cs_fs_32 cs_semibold m-0">Ulaşım</h2>
            </a>
          </div>
          
        </div>
      </div>
<div class="cs_height_65"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xl-4">
        <div class="cs_section_heading cs_style_1">
            <h3 class="cs_section_subtitle text-uppercase cs_accent_color cs_semibold m-0 cs_accent_color cs_fs_32">Hastanelerimiz</h3>
            <div class="cs_height_5"></div>
            <h2 class="cs_section_title cs_fs_72 m-0">En iyi hizmet ile</h2>
        </div>
        <div class="cs_height_70 cs_height_lg_50"></div>
        </div>
        <div class="col-md-6 col-xl-4">
        <div class="cs_iconbox cs_style_4">
            <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
            <img src="img/icons/calendar_white.svg" alt="Icon">                  
            </div>
            <h2 class="cs_iconbox_title cs_fs_32">Erişkin Hastanesi</h2>
            <p class="cs_iconbox_subtitle m-0">Erişkin vatandaşlarımıza modern sağlık hizmetleri sunuyoruz</p>
            <a href="" class="cs_iconbox_btn cs_center">
            <img src="img/icons/arrow_white.svg" alt="Icon">
            <img src="img/icons/arrow_white.svg" alt="Icon">
            </a>
        </div>
        </div>
        <div class="col-md-6 col-xl-4">
        <div class="cs_iconbox cs_style_4">
            <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
            <img src="img/icons/calendar_white.svg" alt="Icon">                  
            </div>
            <h2 class="cs_iconbox_title cs_fs_32">Çocuk Hastanesi</h2>
            <p class="cs_iconbox_subtitle m-0">Küçük misafirlerimizi hemen sağlıklarına kavuşturuyoruz</p>
            <a href="" class="cs_iconbox_btn cs_center">
            <img src="img/icons/arrow_white.svg" alt="Icon">
            <img src="img/icons/arrow_white.svg" alt="Icon">
            </a>
        </div>
        </div>
        <div class="col-md-6 col-xl-4">
        <div class="cs_iconbox cs_style_4">
            <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
            <img src="img/icons/calendar_white.svg" alt="Icon">                  
            </div>
            <h2 class="cs_iconbox_title cs_fs_32">Beytepe Hastanesi</h2>
            <p class="cs_iconbox_subtitle m-0">Beytepe'de hizmetinizdeyiz. Radevu almak için tıklayınız</p>
            <a href="" class="cs_iconbox_btn cs_center">
            <img src="img/icons/arrow_white.svg" alt="Icon">
            <img src="img/icons/arrow_white.svg" alt="Icon">
            </a>
        </div>
        </div>
        <div class="col-md-6 col-xl-4">
        <div class="cs_iconbox cs_style_4">
            <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
            <img src="img/icons/calendar_white.svg" alt="Icon">                  
            </div>
            <h2 class="cs_iconbox_title cs_fs_32">Onkoloji Hastanesi</h2>
            <p class="cs_iconbox_subtitle m-0">Son teknikler ile onkoloji hastalarımıza hizmet veriyoruz</p>
            <a href="" class="cs_iconbox_btn cs_center">
            <img src="img/icons/arrow_white.svg" alt="Icon">
            <img src="img/icons/arrow_white.svg" alt="Icon">
            </a>
        </div>
        </div>
        <div class="col-md-6 col-xl-4">
        <div class="cs_iconbox cs_style_4">
            <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
            <img src="img/icons/calendar_white.svg" alt="Icon">                  
            </div>
            <h2 class="cs_iconbox_title cs_fs_32">Randevu Al</h2>
            <p class="cs_iconbox_subtitle m-0">Size uygun olan hastanemizden hemen randevu alın</p>
            <a href="" class="cs_iconbox_btn cs_center">
            <img src="img/icons/arrow_white.svg" alt="Icon">
            <img src="img/icons/arrow_white.svg" alt="Icon">
            </a>
        </div>
        </div>
    </div>
</div>
<div class="cs_height_65"></div>
<div class="container">
    <div class="cs_section_heading cs_style_1 text-center">
          <h3 class="cs_section_subtitle text-uppercase cs_accent_color cs_semibold m-0 cs_accent_color cs_fs_32">Hastanemizden</h3>
          <div class="cs_height_5"></div>
          <h2 class="cs_section_title cs_fs_72 m-0">En Son Haberler</h2>
        </div>
        <div class="row justify-content-end">
          <div class="col-xl-4 col-md-6">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="img/icons/quote.svg" alt="Icon">                  
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Haber 1</h2>
              <p class="cs_iconbox_subtitle m-0">Haber Özeti</p>
              <a href="department-details.html" class="cs_iconbox_btn cs_center">
                <img src="img/icons/arrow_white.svg" alt="Icon">
                <img src="img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="img/icons/quote.svg" alt="Icon">               
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Haber 2</h2>
              <p class="cs_iconbox_subtitle m-0">Haber Özeti</p>              
              <a href="department-details.html" class="cs_iconbox_btn cs_center">
                <img src="img/icons/arrow_white.svg" alt="Icon">
                <img src="img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="img/icons/quote.svg" alt="Icon">                
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Haber 3</h2>
              <p class="cs_iconbox_subtitle m-0">Haber Özeti</p>   
              <a href="department-details.html" class="cs_iconbox_btn cs_center">
                <img src="img/icons/arrow_white.svg" alt="Icon">
                <img src="img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="img/icons/quote.svg" alt="Icon">                 
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Haber 4</h2>
              <p class="cs_iconbox_subtitle m-0">Haber Özeti</p>                 
              <a href="department-details.html" class="cs_iconbox_btn cs_center">
                <img src="img/icons/arrow_white.svg" alt="Icon">
                <img src="img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="img/icons/quote.svg" alt="Icon">                 
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Haber 5</h2>
              <p class="cs_iconbox_subtitle m-0">Haber Özeti</p>                 
              <a href="department-details.html" class="cs_iconbox_btn cs_center">
                <img src="img/icons/arrow_white.svg" alt="Icon">
                <img src="img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="img/icons/quote.svg" alt="Icon">                 
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Haber 6</h2>
              <p class="cs_iconbox_subtitle m-0">Haber Özeti</p>                
              <a href="department-details.html" class="cs_iconbox_btn cs_center">
                <img src="img/icons/arrow_white.svg" alt="Icon">
                <img src="img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="img/icons/quote.svg" alt="Icon">                 
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Haber 7</h2>
              <p class="cs_iconbox_subtitle m-0">Haber Özeti</p>                 
              <a href="department-details.html" class="cs_iconbox_btn cs_center">
                <img src="img/icons/arrow_white.svg" alt="Icon">
                <img src="img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="img/icons/quote.svg" alt="Icon">                
              </div>
            <h2 class="cs_iconbox_title cs_fs_32">Haber </h2>
              <p class="cs_iconbox_subtitle m-0">Haber Özeti</p>                 
              <a href="department-details.html" class="cs_iconbox_btn cs_center">
                <img src="img/icons/arrow_white.svg" alt="Icon">
                <img src="img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
        </div>
      </div>
@section Scripts {
  <script type="text/javascript">
    $(".carousel-container").slick({
      autoplay: true,
      arrows: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      speed: 350,
      autoplaySpeed: 2000,
      infinite: true,
      dots: true
    });
  </script>
}
