<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="/formhelper/formhelper.min.css" />
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col py-3">
            @RenderBody()
        </div>
    </div>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="/formhelper/formhelper.bundle.min.js"></script>
<script type="text/javascript"> 
$.validator.setDefaults({
        errorClass: "",
        validClass: "",
        highlight: function (element, errorClass, validClass) {
            $(element).addClass("is-invalid").removeClass("is-valid");
            $(element.form).find("[data-valmsg-for=" + element.name + "]").addClass("invalid-feedback");
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).addClass("is-valid").removeClass("is-invalid");
            $(element.form).find("[data-valmsg-for=" + element.name + "]").removeClass("invalid-feedback");
        },
    });
</script> 
</body>
</html>