@model Hacettepe.Application.Users.Password.ForgotPasswordRequest
@{
	Layout = "_LoginLayout";
}
<section class="h-100">
	<div class="container h-100">
		<div class="row justify-content-sm-center h-100">
			<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
				<div class="text-center my-5">
					<img src="/img/logo.svg" alt="logo" width="100">
					<div class="logo_yazi">
                         <div class="banner_uni">HACETTEPE ÜNİVERSİTESİ</div>
                         <div class="banner_uni_bolum">HASTANELERİ</div>
                     </div>
				</div>
				<div class="card shadow-lg">
					<div class="card-body p-5">
						<h1 class="fs-4 card-title fw-bold mb-4">Şifremi Unuttum</h1>
						<div class="invalid-feedback d-block" asp-validation-summary="ModelOnly"></div>
						<form method="POST" asp-formhelper="true" asp-action="ForgotPassword" asp-controller="Auth" class="needs-validation" novalidate="" autocomplete="off">
							<div class="mb-3">
								<label class="mb-2 text-muted" for="email" asp-for="Email">E-Posta</label>
								<input id="email" type="email" class="form-control" asp-for="Email" required autofocus>
								<span class="invalid-feedback" asp-validation-for="Email"></span>
							</div>
							<div class="d-flex align-items-center">
								<button type="submit" class="btn btn-primary ms-auto">
									Şifremi Yenile
								</button>
							</div>
						</form>
					</div>
				</div>
				<div class="text-center mt-5 text-muted">
					Copyright &copy; 2017-2021 &mdash; Hacettepe Üniversitesi Hastaneleri
				</div>
			</div>
		</div>
	</div>
</section>
